/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sectionoutermost {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    background-color: black;
}

.left {
    width: 500px;
    padding: 30px;
}

.left p {
    font-size: 25px;
    color: grey;
}

.left span {
    color: white;
}

.right h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    line-height: 100px;
   
}


@media (max-width:1000px) {
    .sectionoutermost {
        padding: 100px 0px;
    }
}

@media (max-width:750px) {
    .sectionoutermost {
        flex-direction: column-reverse;
    }

    .left {
        width: 95%;
        padding: 20px 0px;
    }

    .left p {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width:450px) {
    .right h1 {
        font-size: 60px;
        line-height: 60px;
    }
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Calligraffitti&family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Micro+5&display=swap');


.sectionoutermost {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background-color: black;
    overflow-x: hidden;
}

.left {
    flex: 1;
    padding-left: 35px;
    max-width: 500px;
    
}

.left p {
    font-size: 25px;
    font-family: 'Anta', 'Poppins', sans-serif;
    color: grey;
}

.left span {
    color: white;
}

.right {
    flex: 1;
    text-align: justify;
    padding: 0 30px;
    /* margin: 20px; */
}

.right h1 {
    font-size: 95px;
    font-family: 'Anta', 'Poppins', sans-serif;
    line-height: 100px;
}

.btn{
    font-family: 'Anta', 'Poppins', sans-serif;
}

@media (max-width: 1000px) {
    .sectionoutermost {
        padding: 100px 20px;
    }
}

@media (max-width: 750px) {
    .sectionoutermost {
        flex-direction: column-reverse;
    }

    .left,
    .right {
        width: 100%;
        max-width: none;
        padding: 20px 0;
        /* text-align: center; */
    }

    .left p {
        font-size: 20px;
    }

    .right h1 {
        font-size: 60px;
        line-height: 60px;
    }
}

@media (max-width: 450px) {
    .right h1 {
        font-size: 40px;
        line-height: 40px;
    }
}