.skilldiv {
    /* background: linear-gradient(to bottom right, #ff9d00 0%, #ef60a7 100%); */
    background: #000415;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px;
}

.skilldiv h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color:#0644ff;
}

.skillcard{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px 5px rgb(71, 71, 71);
}



.skillcard h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color: white;
}